.rgconsole .gp {
   color: #26a269;
}

.rgconsole .go {
   color: white;
}

.rgconsole .nb {
    color: violet;
}
.rgconsole .nv {
    color: lightblue;
}

.rgconsole .p {
    color: orange;
}

.rgconsole .o {
    color: white;
}

.rgconsole .hll {
    background-color: #868672;
}

.rgconsole pre > code {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.rgsmall {
    font-size: small;
}

.md-grid {
    max-width: initial;
}